body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --card-front-color: #fff;
  --card-front-text-color: #000;
  --card-back-color: #86888a;
  --card-back-text-color: #fff;
  --card-orange: #f5793a;
  --card-green: #6aaa64;
  --card-border-color: #000;
}